.beerDescription
  display: flex
.foodPairing
  margin: 0 30px
.preparing
  display: flex
  flex-wrap: wrap
.beerPageWrapper
  width: 80%
  margin: 0 auto
.beerAvatar
  border-radius: 50%
  width: 200px
  height: 200px
.beerMinimumInfo
  display: flex
  flex-direction: column
  width: 66%
.beer-card
  display: flex
  align-content: center
.beer-avatar-box
  margin: auto 20px
.properties
  display: flex
  flex-direction: column
  width: 50%
.ingredients
  margin-right: 30px
.method